<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - equivtracker</title>
        {% else %}
        <title>equivtracker</title>
        {% endif %}
        <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        {% if config['DEBUG'] %}
        <script src="https://unpkg.com/react@16.2.0/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16.2.0/umd/react-dom.development.js"></script>
        {% else %}
        <script src="https://unpkg.com/react@16.2.0/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16.2.0/umd/react-dom.production.min.js"></script>
        {% endif %}
        <script src="https://unpkg.com/react-autosuggest@9.3.2/dist/standalone/autosuggest.min.js"></script>
        <script src="{{ url_for('static', filename='App.jsx') }}" type="text/babel"></script>
    </body>
</html>